<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
<div class="contenu" *ngFor="let f of products">
    <h4>{{f.marque}}</h4>
    <p *ngIf="f.descVisible">{{f.description}}</p>
    <button  *ngIf ="!f.descVisible" (click)="afficheDesc(f)" class="btn btn-info">More information</button>
    <button  *ngIf ="f.descVisible"(click)="cacherDesc(f)" class="btn btn-info">Less information</button>
    <h4>{{f.prix}}</h4>
    <button (click)="removeProduit(f)" class="btn btn-danger">Delete Item</button>

</div>
</body>
</html>